<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1045483257125-nn296prkrdku9754fdjlrnd1l5h2l0jf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1045483257125-nn296prkrdku9754fdjlrnd1l5h2l0jf</string>
	<key>API_KEY</key>
	<string>AIzaSyCAd0pkoF6ynBUT63ObPZeMtbWa0VRfwfA</string>
	<key>GCM_SENDER_ID</key>
	<string>1045483257125</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.movements</string>
	<key>PROJECT_ID</key>
	<string>movements-85c98</string>
	<key>STORAGE_BUCKET</key>
	<string>movements-85c98.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1045483257125:ios:d1df3ca4c7532b78d7aecc</string>
</dict>
</plist>